definitions:
  model.ProjectResponse:
    properties:
      categories:
        items:
          type: string
        type: array
      description:
        type: string
      id:
        type: integer
      images:
        items:
          type: string
        type: array
      name:
        type: string
      note:
        type: string
      overview:
        type: string
      tags:
        items:
          type: string
        type: array
      url_project:
        type: string
    type: object
info:
  contact: {}
paths:
  /category/names:
    get:
      consumes:
      - application/json
      description: Retrieve all category names
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            properties:
              categories:
                items:
                  type: string
                type: array
            type: object
        "400":
          description: Bad Request
          schema:
            properties:
              error:
                type: string
            type: object
        "404":
          description: Not Found
          schema:
            properties:
              error:
                type: string
            type: object
      summary: Get list category names
      tags:
      - Categories
  /project:
    get:
      consumes:
      - application/json
      description: Retrieve project details with cursor-based pagination and optional
        category filter
      parameters:
      - description: Project Category Name
        in: query
        name: category
        type: string
      - description: Cursor for pagination
        in: query
        name: cursor
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            properties:
              projects:
                items:
                  $ref: '#/definitions/model.ProjectResponse'
                type: array
            type: object
        "400":
          description: Bad Request
          schema:
            properties:
              error:
                type: string
            type: object
        "404":
          description: Not Found
          schema:
            properties:
              error:
                type: string
            type: object
      summary: Get all projects with pagination and category filter
      tags:
      - Projects
    post:
      consumes:
      - multipart/form-data
      description: Create a new project with associated tags and images using form-data
      parameters:
      - description: Project Name
        in: formData
        name: name
        required: true
        type: string
      - description: Project Overview
        in: formData
        name: overview
        required: true
        type: string
      - description: Project Description
        in: formData
        name: description
        required: true
        type: string
      - description: Project Note
        in: formData
        name: note
        type: string
      - description: Project URL
        in: formData
        name: url_project
        type: string
      - collectionFormat: multi
        description: Category item
        in: formData
        items:
          type: string
        name: categories[]
        type: array
      - collectionFormat: multi
        description: Tag item
        in: formData
        items:
          type: string
        name: tags[]
        type: array
      - collectionFormat: multi
        description: Images
        in: formData
        items:
          type: file
        name: images[]
        type: array
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            properties:
              message:
                type: string
            type: object
        "400":
          description: Bad Request
          schema:
            properties:
              error:
                type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            properties:
              error:
                type: string
            type: object
      summary: Create a new project with images and tags
      tags:
      - Projects
  /project/{id}:
    get:
      consumes:
      - application/json
      description: Retrieve project details by project ID
      parameters:
      - description: Project ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.ProjectResponse'
        "400":
          description: Bad Request
          schema:
            properties:
              error:
                type: string
            type: object
        "404":
          description: Not Found
          schema:
            properties:
              error:
                type: string
            type: object
      summary: Get project by ID
      tags:
      - Projects
swagger: "2.0"
